body {
    background-color: black;
    color: antiquewhite;
}

a:link {
   color: cornflowerblue; 
}

a:visited {
    color: cadetblue;
}

a:hover {
    color: chartreuse;
}

a:active {
    color: red;
}